<div class="container-fluid" style="height: 100%;">
<div class="row-fluid" id="hasmap" style="height: 100%; " >
	<label class="label"><h2>User's Routes</h2></label>
	<table id="admin_routes_table" class="table table-striped table-bordered" >
		<thead>
			<tr>
				<th>Source</th>
				<th>Destination</th>
				<th>Cost</th>
				<th>Using</th>
				<th>Description</th>
				<th>Feedback</th>
				<% if (current_user.admin?)%> <th>User</th>
				<%end%> <th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<%= render @routes, :confirm => false %>
		</tbody>
	</table>
	<hr/>
	<label class="label"><h2>User's Routes</h2></label>
	<table id="admin_nodes_table" class="table table-striped table-bordered" >
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<% if (current_user.admin?)%>
					<th>User</th>
				<%end%>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<%= render @nodes %>
		</tbody>
	</table>
</div>
</div>
